<h1> All The comments for this blog is here </h1>
<h3>show comments page</h3>
<h1> All comments </h1>

<% @comments.each do |comm| %>
<ul>

  <%= comm.name %> says :
    <%= comm.content %>

</ul>
<% end %>
<%= link_to "Back" ,posts_path%>
